.slideMainContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;

}


.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background: url("../../assets/cardBackground.png");
  background-size: 100% 100%;
nav-down:auto ;
  background-repeat: no-repeat;
}

.imageswipercontainer {
  width: 100% !important;
  height: 100% !important;
}
.positioncontainer {
  margin-top: 40px;
}

.allCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}


.cardContainer {
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 463px;
  /* padding-top: 40px; */
  border-radius: 8px;
  position: relative;
}

.card-data {
  position: absolute;
  margin-left: 10px;
  width: 95%;
  color: #fff;
  margin-bottom: 16px;
 
}

.card-data h2 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
  margin-top: 225px;
}
.card-data p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.card-data h4 {
  font-size: 16px;
  font-weight: 500;
}

.card-data h6 {
  font-size: 12px;
  text-transform: capitalize;
  opacity: 0.9;
  color: #fff;
  white-space: nowrap;
  width: 60%;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  margin: 5px, 0;
}
.experience {
  position: absolute;
  margin-top: 19px;
  margin-left: 19px;
  margin-right: 16px;
}

.buttonContianer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57.16px;
  background-color: #A95210;
  width: 50%;
  margin: 0;
  border-bottom-left-radius: 8px;
}
.buttonContianertwo {
cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57.16px;
  background-color: #A95210;
  width: 50%;
  margin: 0;
  border-bottom-right-radius: 8px;
}

.chatbutton{
  color: #FDFDFD;
  padding-left: 8px;
  font-size: 18px;
  font-weight: 700,
}

.livecallbutton{
  height: 66.73px;
  width: 66.73px;
  position: absolute;
  bottom: 15px;
  left: 42%;
  z-index: 5;
}
h2{
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  font-size: 32px;
  color: #d97122;
 }