.backgroundImage {
  height: 580px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(103, 103, 124, 0.3),
      rgba(104, 89, 89, 0.3)
    ),
    url("../../assets/dashboardbackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navbar-toggler {
  background-color: "white";
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center !important;
}
.title {
  font-weight: 700;
  font-size: 58.4px;
  line-height: 128%;
  color: #fdfdfd;
  font-family: "Sansation";
  font-style: normal;
  text-align: center;
}

.detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 149.69%;
  color: #fdfdfd;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
}
.customercarecontainer{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.customercarecontainer div{
  height: 44px;
  width: 190.92px;
  margin-right: 48px;
}

.customercarecontainer div img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.contactbutton{
  height: 58.82px;
  width: 217px;
  border-radius: 43px;
  border: none;
  background-color: #D97122;
  color: white;
  margin-top: 40px;
}

a{
  color:'#FD9D54'
}